body {
    background: #fefefe;
    margin: 0 auto;
    padding: 10px;
    max-width: 800px;
    font-family: sans-serif;
    overflow-y: scroll;
}

h1 {}
h2::before { content: "• "; }
h3::before { content: "•• "; }
h4::before { content: "••• "; }

p {
    line-height: 150%;
}

a {
    text-decoration: none;
}

.footdef > sup > a:target {
    font-size: 1.3em;
    margin-left: 10px;
}

.footdef > sup > a:target::before {
    content: "→ ";
}

.footref {
    text-decoration: none;
}

.linenr {
    color: #6f6f6f;
}

.org-src-name {
    font-size: .8em;
    font-weight: bold;
}

header {
    font-size: 1em;
    text-align: center;
}

header ul {
    list-style-type: none;
    display: inline-flex;
}

header li {
    margin: 0 10px 0 10px;
}

footer {
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
    font-size: .8em;
    opacity: 0.6;
}

code {
    background-color: rgba(27, 31, 35, 0.06);
    border-radius: 3px;
    font-size: 90%;
    margin: 0;
    padding: .2em .4em;
}

.archive {
    text-align: left;
    margin-left: 30%;
    font-size: 1.2em;
    list-style-type: none;
}

#footnotes {
    opacity: .7;
    font-size: .8em;
    margin-top: 50px;
}

/* always show code name box */
pre.src:before {
    display: inline;
}

pre.src {
    font-size: 1.2em;
    background-color:#FFFFFF;
    box-shadow: none;
    padding: 10px;
}

pre.example {
    box-shadow: none;
}

/* syntax highlighting */
pre span.org-builtin                                 {color:#000; font-weight:bold;}
pre span.org-string                                  {color:#9C6363;}
pre span.org-doc                                  {color:#4F6F4F;}
pre span.org-keyword                                 {color:#0000FF;}
pre span.org-variable-name                           {color:#BA36A5;}
pre span.org-function-name                           {color:#5C888B;}
pre span.org-highlight-defined-function-name         {color:#5C888B;}
pre span.org-highlight-defined-builtin-function-name {color:#000; font-weight:bold;}
pre span.org-type                                    {color:#6434A3;}
pre span.org-preprocessor                            {color:#808080; font-weight:bold;}
pre span.org-constant                                {color:#2F4F2F;}
pre span.org-comment-delimiter                       {color:#8D8D84;}
pre span.org-comment                                 {color:#8D8D84; font-style:italic}

pre span.org-outshine-level-1                        {color:#8D8D84; font-style:italic}
pre span.org-outshine-level-2                        {color:#8D8D84; font-style:italic}
pre span.org-outshine-level-3                        {color:#8D8D84; font-style:italic}
pre span.org-outshine-level-4                        {color:#8D8D84; font-style:italic}
pre span.org-outshine-level-5                        {color:#8D8D84; font-style:italic}
pre span.org-outshine-level-6                        {color:#8D8D84; font-style:italic}
pre span.org-outshine-level-7                        {color:#8D8D84; font-style:italic}
pre span.org-outshine-level-8                        {color:#8D8D84; font-style:italic}
pre span.org-outshine-level-9                        {color:#8D8D84; font-style:italic}

pre span.org-rainbow-delimiters-depth-1              {color:#707183;}
pre span.org-rainbow-delimiters-depth-2              {color:#7388d6;}
pre span.org-rainbow-delimiters-depth-3              {color:#909183;}
pre span.org-rainbow-delimiters-depth-4              {color:#709870;}
pre span.org-rainbow-delimiters-depth-5              {color:#907373;}
pre span.org-rainbow-delimiters-depth-6              {color:#6276ba;}
pre span.org-rainbow-delimiters-depth-7              {color:#858580;}
pre span.org-rainbow-delimiters-depth-8              {color:#80a880;}
pre span.org-rainbow-delimiters-depth-9              {color:#887070;}

pre span.org-sh-quoted-exec                          {color:#FF1493;}
