body {
    background: #fefefe;
    margin: 0 auto;
    padding: 10px;
    max-width: 800px;
    font-family: sans-serif;
    overflow-y: scroll;
}

h1 {}
h2::before { content: "• "; }
h3::before { content: "•• "; }
h4::before { content: "••• "; }

p {
    line-height: 150%;
}

a {
    text-decoration: none;
}

figure {
    margin-inline-start: 5px;
    margin-inline-end: 5px;
}
figure > img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.footdef > sup > a:target {
    font-size: 1.3em;
    margin-left: 10px;
}

.footdef > sup > a:target::before {
    content: "→ ";
}

.footref {
    text-decoration: none;
}

.linenr {
    color: #6f6f6f;
}

.org-src-name {
    font-size: .9em;
    font-weight: bold;
}

.org-src-name > code{
    font-size: 1.1em;
}

header {
    font-size: 1em;
    text-align: center;
}

header ul {
    list-style-type: none;
    display: inline-flex;
}

header li {
    margin: 0 10px 0 10px;
}

footer {
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
    font-size: .8em;
    opacity: 0.6;
}

.archive {
    text-align: left;
    margin-left: 30%;
    font-size: 1.2em;
    list-style-type: none;
}

#footnotes {
    opacity: .7;
    font-size: .8em;
    margin-top: 50px;
}

code {
    /* background-color: rgba(27, 31, 35, 0.06); */
    background-color:#fcfcfc;
    border: 1px solid #cccccc;
    border-radius: 3px;
    margin: 0;
    padding: .2em .4em;
}


pre {
    background-color:#fcfcfc;
    border-radius: 3px;
}

/* always show code name box */
pre.src:before {
    display: inline;
    border-radius: 3px;
}

pre.src {
    font-size: 1.2em;
    box-shadow: none;
    padding: 10px;
}

pre.example {
    box-shadow: none;
}

/* syntax highlighting */
span.org-builtin                                 {color:#444444; font-weight:bold;}
span.org-highlight-defined-builtin-function-name {color:#444444; font-weight:bold;}
span.org-string                                  {color:#9C6363;}
span.org-doc                                     {color:#4D7D4F;}
span.org-keyword                                 {color:#4456EE;}
span.org-variable-name                           {color:#BA36A5;}
span.org-highlight-defined-variable-name         {color:#656555;}
span.org-function-name                           {color:#5885AD; font-weight:bold;}
span.org-highlight-defined-function-name         {color:#5885AD; font-weight:bold;}
span.org-type                                    {color:#6434A3;}
span.org-preprocessor                            {color:#808080; font-weight:bold;}
span.org-constant                                {color:#2F4F2F;}
span.org-comment-delimiter                       {color:#8D8D84;}
span.org-comment                                 {color:#8D8D84; font-style:italic}

pre span.org-makefile-targets {color: #4456EE;}

pre span.org-sh-quoted-exec {color:#FF1493;}
